PORT=3000

MONGODB_USER=shram2615
MONGODB_PASSWORD=RkYQFaOAKAeDvq5d
MONGODB_URL=cluster0.4pbl8.mongodb.net
MONGODB_DB=contact

ACCESS_TOKEN_SECRET=yourAccessTokenSecret
REFRESH_TOKEN_SECRET=yourRefreshTokenSecret
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=7f4008001@smtp-brevo.com
SMTP_PASSWORD=ZO1xn2zWAPpf5y6G
SMTP_FROM=shram2615@gmail.com
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=dmdfvw6jw
CLOUDINARY_API_KEY=794412169488535
CLOUDINARY_API_SECRET=NHEGEBEPm_3a50mmgtli54kp5WY

